<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="PortalB2B" connectionString="Data Source=apimga-br.database.windows.net,1433;Initial Catalog=PortalB2B_V2;User ID=tpsantos;Password=XdfSHahaadsdffaffjhgjv#pfyg" providerName="System.Data.SqlClient"/>
    <!--<add name="IntegracaoParceirolocal" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=IntegracaoConsultaParceria;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"  providerName="System.Data.SqlClient"/>-->
    <add name="IntegracaoParceiro" connectionString="Data Source=apimga-br.database.windows.net,1433;Initial Catalog=IntegracaoConsultaParceria;User ID=usr_IntegracaoConsultaParceria;Password=XdfSHahasafgasdhgadhbsdgjvdhjhgjv#pfyg" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="CNPJ" value="33608308000173"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>